<!-- USER CHALLENGES -->
<div class="container-fluid" id="challengesPage">
    <h1> Have You Completed Your Challenges? Please Get To It!</h1>
    <br/>
    <div id="accordion">

        {{#each challenge}}
        <div class="card">
            <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#collapse{{this.id}}" data-challenge="{{this.id}}" aria-expanded="true">
                    CHALLENGE {{this.id}} </a>
            </div>
            <div id="collapse{{this.id}}" data-parent="#accordion" class="collapse">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="card-text temp-text"> {{this.challenge_task}} </p>
                            <p class="card-text temp-text"> {{this.point_value}} </p>
                        </div>
                    </div>
                    <button class="btn btn-info challengeCompleteButton" data-toggle="modal" data-target="#completeChallengeModal" data-id={{this.id}} data-point_value={{this.point_value}}>
                        <h3> Complete Challenge </h3>
                    </button>
                </div>
            </div>
        </div>
        {{/each}}

    </div>
    <!-- END USER CHALLENGES -->

    <br/>
    <br/>

    <!-- USER CHALLENEGE RECOMMENDATION -->
    <div class="row">
        <div class="col-md-12">
            <h1> Do You Have A Recommendation For A Challenge?</h1>
            <form id="create-form">
                <div class="form-group">
                    <label for="name" id="challengeRecommendationLabel">Enter New Challenge Recommendation</label>
                    <input type="name" class="form-control" id="challengeRecommendationInput" rows="1" placeholder="Enter Recommendation Here">
                </div>
                <div class="form-group">
                    <label for="name" id="pointValueLabel">Enter Point Value</label>
                    <input type="name" class="form-control" id="pointValueInput" rows="1" placeholder="Enter 50, 75, or 100">
                </div>
                <button type="submit" class="btn btn-success" id="addChallenge"> Submit Challenge Recommendation </button>
            </form>
        </div>
    </div>
</div>
<!-- END OF USER CHALLENEGE RECOMMENDATION -->

<!-- MODAL TO HIDE CHALLENGE AND REDIRECT USER TO PROFILE-->
<div id="completeChallengeModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="completeChallengeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="completeChallengeModalLabel"> CHALLENGE <span class="completedChallengeId"></span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p> You Have Completed Challenge <span class="completedChallengeId"></span></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="complete"> Complete </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal"> Cancel </button>
      </div>
    </div>
  </div>
</div>
<!-- MODAL TO HIDE CHALLENGE AND REDIRECT USER TO PROFILE-->